# --- Результаты сборки ---
build/
bin/
obj/

# --- Бинарные файлы и библиотеки ---
*.o
*.a
*.so
*.exe
*.out
# Игнорируем сам исполняемый файл
ChessGame

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
*.cmake
# База данных для инструментов автодополнения (LSP)
compile_commands.json
.cmake/

# --- Редакторы и IDE ---
.vscode/
.idea/
*.cbp
*.layout
*.depend
*.user

# --- Временные файлы системы ---
*~
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Oxygine специфичное ---
*.log
